



.grid-container{
  display: grid;
  grid-template-columns: 40% 30% auto;
  margin-bottom: 10px;
}

.heading-container{
  margin: 30px 0 30px 0;
  width: 100%;
}

.grid-item{
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.15rem;
  word-wrap: break-word;
  padding-right: 10px;
}

.name-heading, .phone-heading{
  font-size: 1rem;
  font-weight: 600;
  color: #808080;
  text-transform: uppercase;
}

.delete-btn{
  background: #fa9c9c;
  color: #000;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
